.pagination {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.pagination button {
    padding: 0.4rem 0.8rem;
    border: 1px solid #000000;
    background-color: #09486d;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
    color: #ffffff;
}

.pagination button:hover {
    background-color: #e6eef3;
}

/*botón desactivado*/
.pagination button:disabled {
    background-color: #235674;
    cursor: not-allowed;
    color: #ffffff;
}

.pagination .active {
    background-color: #023756;
    color: rgb(255, 255, 255);
    border-color: #000000;
}