/* Categorías */
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.categories button {
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  background-color: #5f99e6;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.categories button:hover {
  background-color: #e0e0e0;
}

.categories .active {
  background-color: #4b7ecc;
  color: rgb(255, 255, 255);
  border-color: #000000;
}
