.search {
  width: 200%;          /* ocupa todo el espacio disponible */
  max-width: 500px;     /* pero nunca más de 500px */
  display: block;       /* permite centrar con margin */
  margin: 0 auto 20px;  /* centrado horizontal + espacio abajo */
  padding: 0.5rem;
  border: 3px solid #bab2b2;
  border-radius: 15px;
  font-size: 16px;
  justify-content: center;
  outline: none;
  transition: border 0.3s;

}
