.button {
  margin-top: 0.5rem;
  padding: 0.4rem;
  background: #e72323;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;border: "none";
  cursor: pointer;
  font-size: 15px;
}

.button:hover {
  background: #cab1b9;
}


