.button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  background: #b73a3a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;border: "none";
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background: #aa3cc3;
}


