.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  background-color: #09486d;
  width: 100%;
}

.title{
  color: rgb(255, 255, 255);
   font-weight: 400;
  }