.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #0a3955;
}

.links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user {
  font-weight:500;
  color: #ffffff;
}

.logout {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.logout:hover {
  background-color: #c0392b;
}

