.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 2000px;
  padding: 0rem;
  font-family: "Arial", sans-serif;
  background-color: #2d92cc;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
}

  .productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

/* Mensajes de carga y no productos */
.pageContainer p {
  text-align: center;
  font-size: 1.1rem;
  color: #cfcfcf;
  margin-top: 2rem;
}