.footer {
  width: 100%;
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer .links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer .links a {
  color: var(--color-text-link);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer .links a:hover {
  color: var(--color-text-link-hover);
}

/* Responsive */
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}

