.footer {
  width: 100%;             
  background-color: #111;   
  color: #fff;              
  text-align: center;      
  padding: 20px;
  position: relative;       
  bottom: 0;
  left: 0;
}


.footer .container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer .links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer .links a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer .links a:hover {
  color: #a2e3b2; /* un verde parecido al header */
}

/* Responsive */
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}
