@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Variables globales */
:root {
  /* Colores generales */
  --color-primary: #09486d;
  /* Azul principal */
  --color-text-light: #ffffff;
  /* Texto claro */
  --color-text-dark: #000000;
  /* Texto oscuro */
  --color-bg-light: #f1f1f1;
  /* Fondo claro */
  --color-bg-dark: #111111;
  /* Fondo oscuro */

  /* Header y Footer */
  --color-header-bg: #09486d;
  --color-header-text: #ffffff;
  --color-footer-bg: #111111;
  --color-footer-text: #ffffff;

  /* Links */
  --color-text-link: #f1f1f1;
  --color-text-link-hover: #a2e3b2;

  /* Botones */
  --color-btn-primary: #0077ff;
  --color-btn-primary-hover: #005fcc;
}

/* Reset y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

/* Tamaños base */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* Estilos del body */
body {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
  line-height: 1.5;
  min-height: 100vh;
}

/* Encabezado y pie de página */
header,
footer {
  width: 100%;
}

/* Links globales */
a {
  text-decoration: none;
  color: var(--color-text-link);
  transition: color 0.3s;
}

a:hover {
  color: var(--color-text-link-hover);
}

/* Botones globales */
button {
  cursor: pointer;
  font-family: inherit;
}

button.primary {
  background-color: var(--color-btn-primary);
  color: var(--color-text-light);
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

button.primary:hover {
  background-color: var(--color-btn-primary-hover);
}