@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Definición de variables de CSS globales */
:root {
  --color-primary: #09486d;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-bg-light: #f1f1f1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

/* Estilos base para la página */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: var(--color-bg-light); /* Usa la variable */
  color: var(--color-text-dark); /* Usa la variable */
  line-height: 1.5;
  min-height: 100vh;
}

header,
footer {
  width: 100%;
}
